.banner {
    height: 36vh;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner::before {
    content: '';
    background: linear-gradient(to top, black, transparent);
    width: 100%;
    height: 56vh;
    position: absolute;
    left: 0;
}

.banner-text-area {
    width: 36%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 2rem;
}

.banner-text-area > * {
    z-index: 2
}